<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About | Contacts Pro</title>
</head>
<body>


<!-- ======= Sign Up Section ======= -->
<section id="signup" class="contact" style="padding-top: 100px">

    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 ">


                <form action="" th:action="@{/doRegister}" method="post" class="sign-up-form"
                      th:object="${user}">
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-signup "
                         role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="name">Name</label>
                            <!--                            This is for validation-->
                            <input id="name" type="text" name="name" class="form-control " placeholder="Your Name"
                                   th:classAppend="${#fields.hasErrors('name')? 'is-invalid':''}"
                                   th:value="${user.name}"
                                   required>
                            <!--Show dynamic error message , which is in Entity validation-->
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" th:text="${e}">

                            </div>

                        </div>

                        <div class="col-md-6 ">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" name="email" placeholder="Your Email"
                                   th:value="${user.email}"
                                   th:classAppend="${#fields.hasErrors('email')? 'is-invalid':''}"
                                   required>
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('email')}" th:text="${e}">

                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" name="password"
                                   th:classAppend="${#fields.hasErrors('password')? 'is-invalid':''}"
                                   placeholder="Password" required>
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('password')}" th:text="${e}">

                            </div>

                        </div>

                        <div class="col-md-12">
                            <label for="about">About</label>
                            <textarea id="about" class="form-control" name="about" rows="4" placeholder="About"
                                      th:text="${user.about}"
                                      required></textarea>
                        </div>

                        <div class="form-group"><input type="checkbox" name="agreement" class="form-check-input"
                                                       id="agreement"/> &nbsp;
                            <label for="agreement">Accept terms and conditions</label></div>

                        <div class=" col-md-12  d-flex justify-content-center align-items-center">
                            <button type="submit">Sign Up</button>
                            <button type="reset">Reset</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-lg-3"></div>

        </div>

    </div>

</section><!-- End Contact Section -->


</body>
</html>